/* hero image container section */
.image-banner-container {
    width: 100%;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.hero-section-image {
    width: 100%;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: brightness(0.5);
}
.canvas-container {
    margin-top: 13rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: white;
    font-family: "Prompt", sans-serif;
    text-align: center;
    z-index: 100;
}
.hero-button {
    margin-top: 1rem;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.8rem 3rem;
    font-size: 1.1rem;
    font-family: "Prompt", sans-serif;
    text-decoration: none;
    font-weight: light;
    display: inline-block;
    z-index: 100;
}
.hero-button:hover {
    color: black;    
    transition: 0.2s;
    background-color: white;
}

/* tile 1 section */
.section-2-container {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 0.2rem; /* Added margin */
    margin-bottom: 2rem; /* Added margin */
}
.tile-1-container {
    flex: 1 1 0;
    display: flex;
    font-family: "Prompt", sans-serif;
    gap: 2rem;
    min-height: 20rem;
    margin: 7rem;
}
.left-container,
.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.left-container {
    margin-left: 1rem;
    justify-content: center;
}

.tile-1-header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}
.title-1-paragraph {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 1rem; /* Added margin */
}
.tile-1-button {
    color: black;
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem 0;
    border: 2px solid black;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.tile-1-button:hover {
    background: black;
    color: white;
    transition: 0.2s;
}
.tile-1-button:hover .t1b-icon { filter: invert(1); transition: 0.2s; }
.t1b-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.6rem;
}

/* chanllange section */
.challange-hitbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
}
.challange-hitbox:hover{ background-color: #f0f4fa3d; transition: 0.3s ease; }
.challange-section-container {
    width: 100%;
    min-height: 400px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 2rem; /* Added margin */
    font-family: "Prompt", sans-serif;
}
.challange-header { text-align: center; font-size: 2rem; }
.cc-container { gap: 2rem; width: 100%; height: 330px; display: flex; justify-content: center; margin-top: 2rem; }
.challange-card {
    width: 230px;
}
.cc-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.cc-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    display: block;
}
.cc-text-container {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
}
.cc-text-top-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.challange-name-text {
    font-size: 3.4rem;
    font-weight: 400;
}
.challange-text { font-size: 1.5rem; margin-top: -1rem; }
.challange-dff-text { font-size: 1.2rem; font-weight: 300;}
/* view leaderboard button section */
.view-leaderboard-button {
    color: black;
    margin: 0 auto;
    margin-top: 1rem;
    width: 30%;
    padding: 0.8rem 0;
    border: 2px solid black;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-leaderboard-button:hover {
    background: black;
    color: white;
    transition: 0.2s;
}

/* open soruce annoument section */
.osa-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(13, 13, 13);
    color: white;
    margin-top: 5rem; /* Added margin */
    font-family: "Prompt", sans-serif;
    text-align: center;
}
.osa-header-text {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem; /* Added margin */
}
.osa-paragraph-text {
    font-size: 0.9rem;
    max-width: 700px;
    line-height: 1.6;
    color: #ccc;
}
.osa-button-container {
    color: black;
    background-color: white;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
}
.osa-button-container:hover {
    border: 1px solid black;
    background: black;
    color: white;
    transition: 0.2s;
    text-decoration: underline;
}
.osa-button-container:hover .osa-github-icon { filter: invert(1); transition: 0.2s;}
.osa-github-icon {
    width: 25px;
    height: 25px;
}